/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  padding: 10px 40px;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  height: 30px;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  margin: 0 15px;
}

nav a:hover {
  color: #000;
}

nav a.active {
  color: #000;
  font-weight: bold;
  border-bottom: 3px solid #000;
}

/* Input */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 100rem;
}
button.text,
button.accordion {
  background-color: transparent;
  color: #555;
}
button:hover {
  background-color: #555;
}
button.accordion:hover {
  background-color: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Main sections */
main {
  min-height: 600px;
  max-width: 600px;
  margin: auto;
}

h1,
h2 {
  margin-top: 36px;
}

.tile h1,
.tile h2 {
  margin: 0;
}

h3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 22px;
}

p {
  color: #555;
  margin: 0;
  font-size: 16px;
}

/* Profile Card */
.tile.profile-card {
  flex-direction: row;
}
.profile-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.profile-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

#profile_name {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: 5px;
}

#profile_email {
  font-size: 0.9em;
  color: #666;
  margin: 0;
}

.profile-card button {
  margin-left: auto;
}

/* Tiles */
.tile {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Button Box */
.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 24px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  color: #555;
  border-top: 1px solid #ccc;
}
